/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Selectores universales, suprimen los estilo predeterminados del navegador*/
* {
    box-sizing: border-box;
    /*Reemplatea el calculo de las dimensiones de las cajas*/
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.box_logo {
    margin-inline: 20px;
    margin-block: 1rem;
}

.logo {
    width: 4rem;
}

.nav_container {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    list-style: none;
}

.nav li {
    text-align: center;
    margin-inline: 20px;
}

.nav_item {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

.nav_item:hover {
    color: #E5233A;
}

.cart > * {
    color: white;
    text-decoration: none;
    margin-inline: 20px;
}

.slider {
    background-image: url(./img/photo-1556906781-9a412961c28c.jpg);
    width: 100%;
    background-size: cover;
    padding: 0 2rem;
}

.box_title_slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_title_slider > div {
    padding: 10px;
    text-align: center;
}

.title_slider {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

.button_slider {
    height: 50px;
    width: 150px;
    color: white;
    background-color: black;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.word_red_slider {
    color: #E5233A;
}

.image_oferta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nike_reds {
    width: 50%;
}

#productos {
    width: 100%;
}

.title_products {
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.box_products {
    width: 100%;

}

.box_productos_a {
    display: flex;
    width: 100%;
    margin: 3rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    flex-direction: column;
    gap: 3rem;
}

/* product card component */
.product_container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
}

/* product container on hover make visible product_favorite */
.product_container:hover .product_favorite
{
    visibility: visible;
    transform: all 2s ease-in-out;
}

.product_img_container{
    grid-column: 1 / 5;
    min-height: 33rem;
    height: 100%;
    margin: auto;
    max-width: 25rem;
}

.product_img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_description{
    grid-column: 1 / 3;
}

.product_actions{
    grid-column: 4 / 5;
}

.button_add_favorite{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
}

.button_add_favorite:hover{
    transition: all 0.3s ease-in-out;
    color: red;
}

.product_favorite{
    visibility: hidden;
    position: absolute;
    top: .8rem;
    right: .8rem;
}

.button_add_cart
{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: grid;
    align-items: center;
}

.button_add_cart:hover{
    background-color: gray;
    transition: all 0.3s ease-in-out;
}

/* .producto {
    text-align: center;
    display: flex;
    flex-direction: column;
} */

.nike {
    width: 65%;
    margin: auto;
}

.price {
    color: #E5233A;
    font-size: 25px;
    font-weight: 600;
}

/* Estilos para la sección Contacto */

#contacto {
    background-image: url(./img/Recurso\ 1-100.jpg);
    background-size: cover;
    padding: 3rem 0;
}

.title_contacto {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #E5233A;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 15px;
}

.title_contacto h1 {
    text-align: center;
}

.text_title_contacto {
    color: white;
}

.box_form {
    display: flex;
    justify-content: center;
}

.form_contacto {
    font-family: 'IBM Plex Sans', sans-serif;
    display: grid;
    /* gap Y axis */
    grid-gap: 0.5rem;
}

.input_form {
    height: 2rem;
    width: 20rem;
    border-radius: 3px;
    border: 0;
    padding: 0 0.5rem;
    font-family: 'Poppins', sans-serif;
}

/* input form option hover focus */
.input_form:focus {
    outline: none;
    outline: 2px solid #E5233A;
}

.text_area_form {
    height: 4rem;
    width: 20rem;
    border-radius: 3px;
    margin-top: 6px;
    border: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    padding: 0.3rem 0.5rem;
}

.text_area_form:focus {
    outline: none;
    padding: 0.3rem 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.input_submit {
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    padding: .5rem .3rem;
    border: 0;
    color: white;
    background-color: #E5233A;
    font-weight: 600;
    cursor: pointer;
}

.input_submit:hover{
    background-color: #880e1c;
    transition: all 0.3s ease-in-out;
}

label {
    color: white;
}

.box_footer {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0.8em;
    display: flex;
    flex-flow: column nowrap;
}

.box_social_media > a{
    color: white;
    text-decoration: none;
    margin: 1rem 0.5rem;
}

/* Estilos para pantallas mayores a 768px */

@media (min-width: 768px) {
    .slider {
        height: calc(100vh - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider .slider-cuerpo {
        position: relative;
    }

    .slider .image_oferta {
        float: right;
    }

    .slider .box_title_slider {
        position: absolute;
        left: 0;
        top: calc(50% - 140px);
    }

    .box_title_slider {
        width: 50%;
    }

    .image_oferta {
        width: 50%;
    }

    .box_title_slider > div {
        margin-left: 70px;
        text-align: left;
    }

    .nike_reds {
        width: 80%;
    }

    .title_slider {
        font-size: 85px;
    }

    .box_productos_a {
        flex-direction: row;
        justify-content: center;
    }

    .producto {
        justify-content: space-between;
    }

    #contacto {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .title_contacto {
        margin-bottom: 0;
    }
}